@page "/tarifas/detalles/{Id:int}"

@using AgroContainerTracker.Domain.Companies
@inject NavigationManager navigationManager

<Loading ShowSpinner="@isLoading"></Loading>

<div class="row">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/tarifas" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@if (rate == null)
{
    <p><em>No se ha encontrado la tarifa @Id</em></p>
}
else
{
    <RadzenPanel AllowCollapse="true">
        <HeaderTemplate>
            <span style="float:left;">
                <RadzenIcon Icon="euro" /><b style="font-size:30px">TARIFA</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <RadzenCard>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="name">Nombre:</label>
                        <RadzenTextBox Value="@rate.Name" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="description">Descripción:</label>
                        <RadzenTextArea Value="@rate.Description" Disabled="true" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="value">Precio/día:</label>
                        <RadzenNumeric Value="@rate.Value" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="value2">Precio/día adicional:</label>
                        <RadzenNumeric Value="@rate.SecondaryValue" Disabled="true" class="form-control" />
                    </div>
                </div>
            </RadzenCard>
        </ChildContent>
    </RadzenPanel>

    <RadzenPanel AllowCollapse="true" class="m-t-4">
        <HeaderTemplate>
            <span style="float:left;">
                <RadzenIcon Icon="account_box" /><b style="font-size:30px">Clientes con esta tarifa:</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            @foreach (var customer in rate.Customers)
            {
                <RadzenCard>
                    <div class="row align-items-center">
                        <div class="col-lg-1">
                            <p>Nº: @customer.CustomerNumber</p>
                        </div>
                        <div class="col-lg-9">
                            <p><strong>@customer.Name</strong></p>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-outline-primary"
                                    @onclick="() => OpenCustomerDetails(customer.CustomerId)">
                                Ver detalles
                            </button>
                        </div>
                    </div>
                </RadzenCard>
            }
        </ChildContent>
    </RadzenPanel>
}

<div class="row">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/tarifas" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Rate rate;
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            rate = await Mediator.Send(new GetRateByIdQuery(Id)).ConfigureAwait(false);
            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }
    }

    private void OpenCustomerDetails(int customerId)
    {
        navigationManager.NavigateTo($"/clientes/detalles/{customerId}");
    }
}
