@page "/suppliers/details/{Id:int}"

@using AgroContainerTracker.Domain.Companies
@using AgroContainerTracker.Core.Services
@inject ISupplierService supplierService

<Loading ShowSpinner="@isLoading"></Loading>

<div class="row">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/companies" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@if (supplier == null)
{
    <p><em>No se ha encontrado el proveedor @Id</em></p>
}
else
{
<RadzenPanel AllowCollapse="true">
    <HeaderTemplate>
        <span style="float:left;">
            <RadzenIcon Icon="account_box" /><b style="font-size:30px">DETALLES</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard>
            <RadzenFieldset Text="INFORMACIÓN" class="mt-4">
                <div class="row">
                    <div class="form-group col-lg-2">
                        <label for="number">Nº Cliente:</label>
                        <RadzenTextBox Value="@supplier.SupplierNumber.ToString()" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="name">Nombre:</label>
                        <RadzenTextBox Value="@supplier.Name" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="cif">CIF:</label>
                        <RadzenTextBox Value="@supplier.CompanyCode" Disabled="true" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="name">Contacto:</label>
                        <RadzenTextBox Value="@supplier.ContactName" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="email">Email:</label>
                        <RadzenTextBox Value="@supplier.Email" Disabled="true" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="phone">Teléfono:</label>
                        <RadzenTextBox Value="@supplier.Phone" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="mobile">Móvil:</label>
                        <RadzenTextBox Value="@supplier.Mobile" Disabled="true" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="description">Observaciones:</label>
                        <RadzenTextArea Value="@supplier.Description" Disabled="true" class="form-control" />
                    </div>
                </div>
            </RadzenFieldset>

            <RadzenFieldset Text="DIRECCIÓN" class="mt-2">
                <div class="row">
                    <div class="form-group col-lg-8">
                        <label for="address">Dirección:</label>
                        <RadzenTextBox Value="@supplier.Address" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="locality">Localidad:</label>
                        <RadzenTextBox Value="@supplier.Locality" Disabled="true" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="postal_code">Código Postal:</label>
                        <RadzenTextBox Value="@supplier.PostalCode" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="state">Provincia:</label>
                        <RadzenTextBox Value="@supplier.State" Disabled="true" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="country">País:</label>
                        <RadzenTextBox Value="@supplier.Country.Name" Disabled="true" class="form-control" />
                    </div>
                </div>
            </RadzenFieldset>

        </RadzenCard>
    </ChildContent>
</RadzenPanel>
}

<div class="row">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/companies" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Supplier supplier;
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            supplier = await supplierService.GetByIdAsync(Id).ConfigureAwait(false);
            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }
    }
}
