@using AgroContainerTracker.Domain.ProductManagement
@using AgroContainerTracker.Domain.Packagings
@using AgroContainerTracker.Domain
@using AgroContainerTracker.Core.Services
@inject IWeighingService WeighingService
@inject NotificationService notificationService

<Loading ShowSpinner="@isLoading"></Loading>

<EditForm Model="@Weighing" OnValidSubmit="() => UpdateWeighing()">
    <FluentValidator />

    <div class="col-lg-12">
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="seller">Fruticultor/Vendedor:</label>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@Input.Sellers" @bind-Value="Weighing.SellerId"
                                TextProperty="Name" ValueProperty="CustomerId" Style="display: block;" />
                <ValidationMessage For="() => Weighing.SellerId" />

            </div>
            <div class="form-group col-lg-6">
                <label for="buyer">Comprador:</label>
                <RadzenTextBox name="buyer" Value="@Input.Buyer?.Name" Disabled="true" class="form-control block" />
                <ValidationMessage For="@(() => Weighing.BuyerId)" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="fruit">Variedad de Fruta:</label>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@fruits" @bind-Value="Weighing.FruitId" ValueProperty="FruitId"
                                TextProperty="Name" Style="display: block;" />
                <ValidationMessage For="() => Weighing.FruitId" />
            </div>
            <div class="form-group col-lg-4">
                <label for="storage">Cámara:</label>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@storages" @bind-Value="Weighing.StorageId" ValueProperty="StorageId"
                                TextProperty="Number" Style="display: block;" />
                <ValidationMessage For="() => Weighing.StorageId" />
            </div>
            <div class="form-group col-lg-4">
                <label for="rate">Tarifa:</label>
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@rates" @bind-Value="Weighing.RateId" ValueProperty="RateId"
                                TextProperty="Name" Style="display: block;" />
                <ValidationMessage For="() => Weighing.RateId" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="grossweight">Peso Bruto:</label>
                <RadzenNumeric TValue="double" @bind-Value="Weighing.GrossWeight" Min="0" Change="@(_ => UpdateProductWeight())" class="form-control" />
                <ValidationMessage For="@(() => Weighing.GrossWeight)" />

            </div>
            <div class="form-group col-lg-4">
                <label for="tareWeight">Destare:</label>
                <RadzenNumeric TValue="double" @bind-Value="Weighing.TareWeight" Min="0" Disabled="true" class="form-control" />
                <ValidationMessage For="@(() => Weighing.TareWeight)" />

            </div>
            <div class="form-group col-lg-4">
                <label for="netWeight">Peso Neto:</label>
                <RadzenNumeric TValue="double" @bind-Value="Weighing.NetWeight" Min="0" Disabled="true" class="form-control" />
                <ValidationMessage For="@(() => Weighing.NetWeight)" />

            </div>
        </div>
        <div class="row">
            <RadzenFieldset Text="Palots" class="mt-2 col-lg-12">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="pkgtype">Palot:</label>
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        Data="@palotPackagings" @bind-Value="palotRecordPackaging.Packaging" Disabled="@disablePalots"
                                        TextProperty="Code" Style="display: block;" Change="() => SelectPackaging(palotRecordPackaging)" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="property">Propiedad:</label>
                        <RadzenCheckBox @bind-Value="palotRecordPackaging.IsOwnPackaging" TValue="bool" class="mt-2 property-block" Disabled="@disablePalots" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="quantity">Cantidad:</label>
                        <RadzenNumeric TValue="int" @bind-Value="palotRecordPackaging.Quantity" Change="@(_ => UpdateProductPackagingTotalWeight(palotRecordPackaging))" class="form-control" Disabled="@disablePalots" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso/unidad:</label>
                        <InputNumber id="weight_palot" @bind-Value="palotRecordPackaging.PackagingWeight" class="form-control" disabled></InputNumber>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso Total:</label>
                        <InputNumber id="weight_palot" @bind-Value="@palotRecordPackaging.TotalWeight" class="form-control" disabled></InputNumber>
                    </div>
                </div>

            </RadzenFieldset>
        </div>
        <div class="row">
            <RadzenFieldset Text="Palets" class="mt-2 col-lg-12">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="type">Palets:</label>
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        Data="@paletPackagings" @bind-Value="paletRecordPackaging.Packaging" Disabled="@disablePalets"
                                        TextProperty="Code" Style="display: block;" Change="() => SelectPackaging(paletRecordPackaging)" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="property">Propiedad:</label>
                        <RadzenCheckBox @bind-Value="paletRecordPackaging.IsOwnPackaging" TValue="bool" class="mt-2 property-block" Disabled="@disablePalets" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="quantity">Cantidad:</label>
                        <RadzenNumeric TValue="int" @bind-Value="paletRecordPackaging.Quantity" Change="@(_ => UpdateProductPackagingTotalWeight(paletRecordPackaging))" class="form-control" Disabled="@disablePalets" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso/unidad:</label>
                        <InputNumber id="weight_palot" @bind-Value="paletRecordPackaging.PackagingWeight" class="form-control" disabled></InputNumber>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso Total:</label>
                        <InputNumber id="weight_palot" @bind-Value="paletRecordPackaging.TotalWeight" class="form-control" disabled></InputNumber>
                    </div>
                </div>

            </RadzenFieldset>
        </div>
        <div class="row">
            <RadzenFieldset Text="Cajas" class="mt-2 col-lg-12">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="type">Cajas:</label>
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        Data="@boxPackagings" @bind-Value="boxRecordPackaging.Packaging" Disabled="@disableBoxes"
                                        TextProperty="Code" Style="display: block;" Change="() => SelectPackaging(boxRecordPackaging)" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="property">Propiedad:</label>
                        <RadzenCheckBox @bind-Value="boxRecordPackaging.IsOwnPackaging" TValue="bool" class="mt-2 property-block" Disabled="@disableBoxes" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="quantity">Cantidad:</label>
                        <RadzenNumeric TValue="int" @bind-Value="boxRecordPackaging.Quantity" Change="@(_ => UpdateProductPackagingTotalWeight(boxRecordPackaging))" class="form-control" Disabled="@disableBoxes" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso/unidad:</label>
                        <InputNumber id="weight_palot" @bind-Value="boxRecordPackaging.PackagingWeight" class="form-control" disabled></InputNumber>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="weight">Peso Total:</label>
                        <InputNumber id="weight_palot" @bind-Value="boxRecordPackaging.TotalWeight" class="form-control" disabled></InputNumber>
                    </div>
                </div>

            </RadzenFieldset>
        </div>
        <ValidationMessage For="@(() => Weighing.ProductRecords)" />

        <hr />
        <div class="row mt-4 mb-4">
            <div class="col-lg-12">
                <div class="float-right">
                    <button type="button" class="btn btn-outline-dark" @onclick="() => OnFormCancelled()">Cancelar</button>
                    <button type="submit" class="btn btn-success"><span class="oi oi-check"></span> Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int WeighingId { get; set; }

    [Parameter]
    public Input Input { get; set; }

    [Parameter]
    public EventCallback<Weighing> OnWeighingUpdated { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }


    private AddWeighingRequest Weighing = new AddWeighingRequest();
    private Weighing currentWeighing = new Weighing();

    private ProductRecordPackaging palotRecordPackaging = new ProductRecordPackaging();
    private ProductRecordPackaging paletRecordPackaging = new ProductRecordPackaging();
    private ProductRecordPackaging boxRecordPackaging = new ProductRecordPackaging();

    private List<Fruit> fruits = new List<Fruit>();
    private List<Storage> storages = new List<Storage>();
    private List<Rate> rates = new List<Rate>();
    private List<Packaging> palotPackagings = new List<Packaging>();
    private List<Packaging> paletPackagings = new List<Packaging>();
    private List<Packaging> boxPackagings = new List<Packaging>();

    private bool isLoading = true;
    private bool disablePalots = false;
    private bool disablePalets = false;
    private bool disableBoxes = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Weighing = await GetWeighing();
            SetPackagings();

            fruits = (await Mediator.Send(new GetAllFruitsQuery()).ConfigureAwait(false))?.ToList();
            storages = (await Mediator.Send(new GetColdAllRoomsQuery()).ConfigureAwait(false)).ToList();
            rates = (await Mediator.Send(new GetAllRatesQuery()).ConfigureAwait(false)).ToList();
            await LoadPackagings();

            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }


    }

    private async Task<AddWeighingRequest> GetWeighing()
    {
        currentWeighing = await WeighingService.GetByIdAsync(WeighingId).ConfigureAwait(false);

        return new AddWeighingRequest
        {
            InputNumber = currentWeighing.InputNumber,
            CampaignId = currentWeighing.CampaignId,
            WeighingId = currentWeighing.WeighingId,
            StorageId = currentWeighing.Storage.StorageId,
            FruitId = currentWeighing.Fruit.FruitId,
            BuyerId = currentWeighing.Buyer.CustomerId,
            GrossWeight = currentWeighing.GrossWeight,
            NetWeight = currentWeighing.NetWeight,
            RateId = currentWeighing.Rate.RateId,
            SellerId = currentWeighing.Seller.CustomerId,
            TareWeight = currentWeighing.TareWeight,
            ProductRecords = new List<ProductRecordPackaging>()
        };
    }

    private async Task UpdateWeighing()
    {
        isLoading = true;
        Weighing WeighingUpdated = await WeighingService.UpdateAsync(this.Weighing);

        if (WeighingUpdated != null)
        {
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Pesada actualizada",
                Detail = "La entrada se ha actualizado correctamente",
                Duration = 4000
            };
            await OnWeighingUpdated.InvokeAsync(WeighingUpdated);
            Notify(message);
        }
        else
        {
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Se ha producido un error al actualizar la pesada.",
                Duration = 4000
            };
            Notify(message);
        }

        isLoading = false;
    }

    private void SelectPackaging(ProductRecordPackaging productPackaging)
    {
        if (productPackaging?.Packaging != null)
        {
            productPackaging.PackagingWeight = productPackaging.Packaging.Weight;
            productPackaging.TotalWeight = productPackaging.Quantity * productPackaging.PackagingWeight;
            Weighing.ProductRecords.Add(productPackaging);
        }
        else
        {
            productPackaging.PackagingWeight = 0;
            productPackaging.TotalWeight = 0;
            productPackaging.Quantity = 0;
            productPackaging.IsOwnPackaging = false;
            Weighing.ProductRecords.Remove(productPackaging);
        }

        disablePalets = palotRecordPackaging.Packaging != null;
        disableBoxes = paletRecordPackaging.Packaging == null;
        if (disableBoxes)
        {
            boxRecordPackaging.Packaging = null;
            boxRecordPackaging.PackagingWeight = 0;
            boxRecordPackaging.TotalWeight = 0;
            boxRecordPackaging.Quantity = 0;
            boxRecordPackaging.IsOwnPackaging = false;
            Weighing.ProductRecords.Remove(boxRecordPackaging);
        }
        disablePalots = boxRecordPackaging.Packaging != null || paletRecordPackaging.Packaging != null;


        UpdateProductWeight();

    }

    private void UpdateProductPackagingTotalWeight(ProductRecordPackaging productPackaging)
    {
        productPackaging.TotalWeight = productPackaging.Quantity * productPackaging.PackagingWeight;
        UpdateProductWeight();
    }

    private void UpdateProductWeight()
    {
        Weighing.TareWeight = GetTareWeight();
        Weighing.NetWeight = Weighing.GrossWeight - Weighing.TareWeight;
    }

    private double GetTareWeight()
    {
        if (palotRecordPackaging?.Packaging != null)
            return palotRecordPackaging.PackagingWeight * palotRecordPackaging.Quantity;

        if (paletRecordPackaging?.Packaging != null && boxRecordPackaging?.Packaging != null)
            return paletRecordPackaging.PackagingWeight * paletRecordPackaging.Quantity + boxRecordPackaging.PackagingWeight * boxRecordPackaging.Quantity;

        return 0;
    }

    private async Task LoadPackagings()
    {
        var packagings = (await Mediator.Send(new GetAllPackagingsQuery()).ConfigureAwait(false)).ToArray();
        palotPackagings = packagings.Where(x => x.Type.Equals(PackagingType.Palot)).ToList();
        paletPackagings = packagings.Where(x => x.Type.Equals(PackagingType.Palet)).ToList();
        boxPackagings = packagings.Where(x => x.Type.Equals(PackagingType.Caja)).ToList();
    }

    private void SetPackagings()
    {
        palotRecordPackaging = CreateProductRecordPackaging(PackagingType.Palot);

        if (palotRecordPackaging?.Packaging != null)
            Weighing.ProductRecords.Add(palotRecordPackaging);

        paletRecordPackaging = CreateProductRecordPackaging(PackagingType.Palet);
        if (paletRecordPackaging?.Packaging != null)
            Weighing.ProductRecords.Add(paletRecordPackaging);

        boxRecordPackaging = CreateProductRecordPackaging(PackagingType.Caja);
        if (boxRecordPackaging?.Packaging != null)
            Weighing.ProductRecords.Add(boxRecordPackaging);


        disablePalets = palotRecordPackaging.Packaging != null;
        disablePalots = boxRecordPackaging.Packaging != null || paletRecordPackaging.Packaging != null;
        disableBoxes = paletRecordPackaging.Packaging == null;
    }

    private ProductRecordPackaging CreateProductRecordPackaging(PackagingType type)
    {
        ProductRecord product = currentWeighing.ProductRecords.FirstOrDefault(x => x.Packaging.Type.Equals(type));

        if (product != null)
        {
            int quantity = type.Equals(PackagingType.Caja) ? product.Quantity : currentWeighing.ProductRecords.Count(x => x.Packaging.Type.Equals(type));

            return new ProductRecordPackaging
            {
                IsOwnPackaging = product.IsOwnPackaging,
                Packaging = product.Packaging,
                PackagingWeight = product.Packaging.Weight,
                TotalWeight = product.Packaging.Weight * quantity,
                Quantity = quantity
            };
        }

        return new ProductRecordPackaging();
    }

    private async Task OnFormCancelled()
    {
        await OnCancel.InvokeAsync(null).ConfigureAwait(false);
    }

    private void Notify(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}
