@page "/entradas/nueva-entrada"

@using AgroContainerTracker.Domain.Companies

@using AgroContainerTracker.Core.Services

@inject ICampaignService CampaignService
@inject ICustomerService customerService

@inject NavigationManager NavigationManager
@inject NotificationService notificationService

<h1>Nueva Entrada</h1>

<div class="row mt-4">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/entradas" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}


<EditForm Model="@Input" OnValidSubmit="AddInput">
    <FluentValidator />

    <div class="row">
        <RadzenFieldset Text="DATOS DE LA ENTRADA" class="mt-4 col-lg-7">
            <div class="row">
                <div class="form-group col-lg-3">
                    <label for="Campaign">Campaña:</label>
                    <RadzenDropDown AllowFiltering="false"
                                    Data="campaigns" @bind-Value="Input.CampaignId"
                                    Style="display: block;" Required TextProperty="CampaignId" ValueProperty="CampaignId"
                                    Change="@((value) => ChangeCampaign(value))" />
                    <ValidationMessage For="@(() => Input.CampaignId)" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="entryNumber">Nº de Entrada:</label>
                    <InputNumber id="entryNumber" @bind-Value="Input.InputNumber" class="form-control" required />
                    <ValidationMessage For="@(() => Input.InputNumber)" />
                </div>
                <div class="form-group col-lg-4">
                    <label for="date">Fecha de Entrada:</label>
                    <InputDate @bind-Value="Input.EntryDate" class="form-control" />
                    <ValidationMessage For="() => Input.EntryDate" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="sellers">Fruticultores/Vendedores:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="Input.SellerIds" Multiple="true" Placeholder="Seleccione fruticultores..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => Input.SellerIds)" />

                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="buyer">Comprador:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="Input.BuyerId" Placeholder="Seleccione comprador..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => Input.BuyerId)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="payer">Pagador:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="Input.PayerId" Placeholder="Seleccione pagador..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => Input.PayerId)" />

                </div>
            </div>
        </RadzenFieldset>
        <RadzenFieldset Text="INFORMACIÓN ADICIONAL" class="mt-4 col-lg-5">
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="Input.HasHail" TValue="bool" /><RadzenLabel Text="Granizo" class="ml-1" />
            </div>
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="Input.HasPlague" TValue="bool" /><RadzenLabel Text="Plaga" class="ml-1"/>
            </div>
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="Input.HasSecondPasses" TValue="bool" /><RadzenLabel Text="Segundos pases" class="ml-1"/>
            </div>
            <div class="row mt-4">
                <div class="form-group col-lg-12">
                    <label for="observations">Observaciones:</label>
                    <InputTextArea id="observations" @bind-Value="Input.Observations" class="form-control" rows="5"/>
                    <ValidationMessage For="@(() => Input.Observations)" />
                </div>
            </div>
        </RadzenFieldset>
    </div>



    <hr />
    <div class="row mt-4 mb-4">
        <div class="col-lg-12">
            <div class="float-right">
                <button type="button" class="btn btn-outline-dark" @onclick="OnCancel">Cancelar</button>
                <button type="submit" class="btn btn-success"><span class="oi oi-check"></span> Guardar cambios</button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    private CreateInputCommand Input = new CreateInputCommand();
    private IEnumerable<Campaign> campaigns = new List<Campaign>();
    private IEnumerable<Customer> customers = new List<Customer>();
    private int currentCampaign = DateTime.Now.Year;

    public string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        int nextEntryNumber = await CampaignService.GetCampaignNextEntryId(currentCampaign).ConfigureAwait(false);

        Input = new CreateInputCommand
        {
            CampaignId = currentCampaign,
            EntryDate = DateTime.Now,
            InputNumber = nextEntryNumber
        };

        customers = await customerService.GetAllAsync().ConfigureAwait(false);
        campaigns = (await Mediator.Send(new GetAllCampaignsQuery())).ToList();
    }

    public async Task AddInput()
    {
        errorMessage = "";

        if (await Mediator.Send(new ExistsInputQuery(Input.CampaignId, Input.InputNumber)))
        {
            errorMessage = "Ya existe este número de entrada para la campaña asignada.";
            return;
        }

        Input InputCreated = await Mediator.Send(Input).ConfigureAwait(false);

        if (InputCreated != null)
        {
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Entrada añadida",
                Detail = "La entrada se ha añadido correctamente",
                Duration = 4000
            };
            Notify(message);
            NavigationManager.NavigateTo($"entradas/{Input.CampaignId}/detalles/{Input.InputNumber}");

        }
        else
        {
            errorMessage = "Se ha producido un error. Inténtelo de nuevo.";
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Se ha producido un error al añadir la entrada.",
                Duration = 4000
            };
            Notify(message);
        }
    }

    public async Task ChangeCampaign(object CampaignId)
    {
        Input.InputNumber = await CampaignService.GetCampaignNextEntryId((int) currentCampaign).ConfigureAwait(false);
    }

    public void OnCancel()
    {
        NavigationManager.NavigateTo("entradas");
    }

    private void Notify(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}
