@page "/entradas/{CampaingId:int}/editar/{ProductEntryNumber:int}"

@using AgroContainerTracker.Domain.ProductManagement
@using AgroContainerTracker.Domain.Companies
@using AgroContainerTracker.Core.Services

@inject IProductEntryService productEntryService
@inject ICustomerService customerService

@inject NavigationManager NavigationManager
@inject NotificationService notificationService

<h1>Editar Entrada</h1>

<div class="row mt-4">
    <div class="col-sm-4">
        <NavLink class="nav-link" href="/entradas" Match="NavLinkMatch.All">
            <span class="oi oi-arrow-left"></span> Volver a la lista
        </NavLink>
    </div>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}


<EditForm Model="@productEntry" OnValidSubmit="UpdateProductEntry">
    <FluentValidator />

    <div class="row">
        <RadzenFieldset Text="DATOS DE LA ENTRADA" class="mt-4 col-lg-7">
            <div class="row">
                <div class="form-group col-lg-3">
                    <label for="campaing">Campaña:</label>
                    <RadzenTextBox Value="@productEntry.CampaingId.ToString()" Disabled="true" class="form-control" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="entryNumber">Nº de Entrada:</label>
                    <RadzenTextBox Value="@productEntry.ProductEntryNumber.ToString()" Disabled="true" class="form-control" />
                </div>
                <div class="form-group col-lg-4">
                    <label for="date">Fecha de Entrada:</label>
                    <InputDate @bind-Value="productEntry.EntryDate" class="form-control" />
                    <ValidationMessage For="() => productEntry.EntryDate" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="sellers">Fruticultores/Vendedores:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="productEntry.Sellers" Multiple="true" Placeholder="Seleccione fruticultores..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => productEntry.Sellers)" />

                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="buyer">Comprador:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="productEntry.Buyer" Placeholder="Seleccione comprador..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => productEntry.Buyer)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="payer">Pagador:</label>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value="productEntry.Payer" Placeholder="Seleccione pagador..." Data="@customers" TextProperty="Name"
                                    Style="display: block;" Required />
                    <ValidationMessage For="@(() => productEntry.Payer)" />

                </div>
            </div>
        </RadzenFieldset>
        <RadzenFieldset Text="INFORMACIÓN ADICIONAL" class="mt-4 col-lg-5">
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="productEntry.HasHail" TValue="bool" /><RadzenLabel Text="Granizo" class="ml-1" />
            </div>
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="productEntry.HasPlague" TValue="bool" /><RadzenLabel Text="Plaga" class="ml-1"/>
            </div>
            <div class="row mt-1">
                <RadzenCheckBox @bind-Value="productEntry.HasSecondPasses" TValue="bool" /><RadzenLabel Text="Segundos pases" class="ml-1"/>
            </div>
            <div class="row mt-4">
                <div class="form-group col-lg-12">
                    <label for="observations">Observaciones:</label>
                    <InputTextArea id="observations" @bind-Value="productEntry.Observations" class="form-control" rows="5"/>
                    <ValidationMessage For="@(() => productEntry.Observations)" />
                </div>
            </div>
        </RadzenFieldset>
    </div>

    <hr />
    <div class="row mt-4 mb-4">
        <div class="col-lg-12">
            <div class="float-right">
                <button type="button" class="btn btn-outline-dark" @onclick="OnCancel">Cancelar</button>
                <button type="submit" class="btn btn-success"><span class="oi oi-check"></span> Guardar cambios</button>
            </div>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int CampaingId { get; set; }
    [Parameter]
    public int ProductEntryNumber { get; set; }

    private ProductEntry productEntry = new ProductEntry();
    private IEnumerable<Campaing> campaings = new List<Campaing>();
    private IEnumerable<Customer> customers = new List<Customer>();
    private bool isLoading = true;
    private string errorMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            customers = await customerService.GetAllAsync();
            productEntry = await productEntryService.GetAsync(CampaingId, ProductEntryNumber);

            // Dropdown items are not marked by default because they are tracking two different data structures.
            var sellers = productEntry.Sellers.Select(x => x.CustomerId);
            productEntry.Sellers = customers.Where(x => sellers.Contains(x.CustomerId));

            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }

    }

    public async Task UpdateProductEntry()
    {
        bool updated = await productEntryService.UpdateAsync(productEntry);
        if (updated)
        {
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Entrada actualizada",
                Detail = "La entrada se ha actualizado correctamente",
                Duration = 4000
            };
            Notify(message);
            NavigationManager.NavigateTo($"entradas/{productEntry.CampaingId}/detalles/{productEntry.ProductEntryNumber}");

        }
        else
        {
            errorMessage = "Se ha producido un error. Inténtelo de nuevo.";
            var message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Se ha producido un error al actualizar la entrada.",
                Duration = 4000
            };
            Notify(message);
        }
    }

    public void OnCancel()
    {
        NavigationManager.NavigateTo("entradas");
    }

    private void Notify(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}
