@page "/camaras"

@using AgroContainerTracker.Domain
@using AgroContainerTracker.Core.Services

@inject NavigationManager navigationManager
@inject DialogService dialogService
@inject NotificationService notificationService

<Loading ShowSpinner="@isLoading"></Loading>

<h1>Cámaras</h1>

<div class="row mt-4">
    <div class="col-lg-4">
        <button @onclick="() => OpenAddStorage()" class="btn btn-outline-primary"><span class="oi oi-plus"></span> Agregar cámara</button>
    </div>
</div>

@if (storages == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row mt-4">
        @foreach (var storage in storages)
        {
            <div class="col-lg-3">
                <div class="box">
                    <div>
                        <div class="row box-header">
                            <h3 class="mb-xs ml-2"><strong>Cámara @storage.Number</strong></h3>
                            <div class="mr-2">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="oi oi-ellipses"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li @onclick="() => OpenStorageEdit(storage)">
                                        <a><span class="oi oi-pencil"></span> Editar </a>

                                    </li>
                                    <li @onclick="() => ShowRemoveStorageDialog(storage)">
                                        <a><span class="oi oi-trash"></span> Eliminar</a>
                                    </li>
                                </ul>
                                @* <span class="oi oi-pencil" @onclick="() => OpenStorageEdit(storage)"></span>
                                    <span class="oi oi-trash" @onclick="() => ShowRemoveStorageDialog(storage)"></span> *@
                            </div>

                        </div>
                        <div class="font-bold">@storage.Description</div>
                        <hr>
                        <div class="cold-room-details">
                            <span>Capacidad (kg): <p class="float-right">@storage.Capacity.ToString("N1", CultureInfo.CreateSpecificCulture("es-ES"))</p></span>
                            <span>Superficie (m2): <p class="float-right">@storage.Surface.ToString("N1", CultureInfo.CreateSpecificCulture("es-ES"))</p></span>
                            <span>Temperatura: <p class="float-right">@storage.Temperature.ToString("G", CultureInfo.CreateSpecificCulture("es-ES")) ºC</p></span>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-outline-primary">Ver detalles</button>

                        @* <div class="m-t-xs btn-group">
                            <a href=""  class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a href=""  class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a href=""  class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                            </div> *@
                    </div>

                </div>
            </div>
        }

    </div>
}

@code {

    private List<Storage> storages = new List<Storage>();
    private bool isLoading = true;
    private string errorMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            storages = (await Mediator.Send(new GetColdAllRoomsQuery()).ConfigureAwait(false))?.ToList();
            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }
    }

    private async Task OpenAddStorage()
    {
        CreateStorageCommand storage = new CreateStorageCommand();
        await dialogService.OpenAsync("Añadir cámara", ds =>
            @<EditForm Model="@storage" OnValidSubmit="() => AddStorage(storage)">
                <FluentValidator></FluentValidator>
                <div>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="code">Nº Cámara:</label>
                            <InputNumber id="code" @bind-Value="storage.Number" class="form-control" />
                            <ValidationMessage For="() => storage.Number" />
                        </div>
                        <div class="form-group col-lg-9">
                            <label for="name">Descripción:</label>
                            <InputText id="name" @bind-Value="storage.Description" class="form-control" />
                            <ValidationMessage For="() => storage.Description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="surface">Superficie (m2):</label>
                            <InputNumber id="surface" @bind-Value="storage.Surface" class="form-control" />
                            <ValidationMessage For="() => storage.Surface" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="capacity">Capacidad (kg):</label>
                            <InputNumber id="capacity" @bind-Value="storage.Capacity" class="form-control" />
                            <ValidationMessage For="() => storage.Capacity" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="temperature">Temperatura (ºC):</label>
                            <InputNumber id="temperature" @bind-Value="storage.Temperature" class="form-control" />
                            <ValidationMessage For="() => storage.Temperature" />
                        </div>
                    </div>


                    <hr />
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-12">
                            <div class="float-right">
                                <button type="button" class="btn btn-outline-dark" @onclick="() => ds.Close(false)">Cancelar</button>
                                <button type="submit" class="btn btn-success"><span class="oi oi-check"></span> Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>

        );
    }

    private async Task AddStorage(CreateStorageCommand storage)
    {
        NotificationMessage message;
        Storage storageCreated = await Mediator.Send(storage).ConfigureAwait(false);

        if (storageCreated != null)
        {
            dialogService.Close(true);
            storages.Add(storageCreated);
            await InvokeAsync(() => { StateHasChanged(); });

            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Cámara añadida",
                    Detail = "La cámara se ha añadido correctamente",
                    Duration = 4000
                };
            errorMessage = string.Empty;
        }
        else
        {
            errorMessage = "Se ha producido un error. Inténtelo de nuevo.";
            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Se ha producido un error al añadir la cámara.",
                    Duration = 4000
                };
        }

        Notify(message);
    }

    private async Task EditStorage(UpdateStorageCommand storage)
    {
        NotificationMessage message;
        bool storageCreated = await Mediator.Send(storage).ConfigureAwait(false);

        if (storageCreated)
        {
            int storageToUpdate = storages.FindIndex(x => x.Id.Equals(storage.StorageId));
            storages[storageToUpdate] = storage.ToDomain();

            dialogService.Close(true);
            await InvokeAsync(() => { StateHasChanged(); });

            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Cámara actualizada",
                    Detail = "La cámara se ha actualizado correctamente",
                    Duration = 4000
                };
            errorMessage = string.Empty;
        }
        else
        {
            errorMessage = "Se ha producido un error. Inténtelo de nuevo.";
            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Se ha producido un error al actualizar la cámara.",
                    Duration = 4000
                };
        }

        Notify(message);
    }

    private async Task OpenStorageEdit(Storage oldStorage)
    {
        UpdateStorageCommand storage = new UpdateStorageCommand
            {
                StorageId = oldStorage.Id,
                Number = oldStorage.Number,
                Description = oldStorage.Description,
                Surface = oldStorage.Surface,
                Capacity = oldStorage.Capacity,
                Temperature = oldStorage.Temperature
            };

        await dialogService.OpenAsync("Editar cámara", ds =>
    @<EditForm Model="@storage" OnValidSubmit="() => EditStorage(storage)">
        <FluentValidator></FluentValidator>
        <div>
            <div class="row">
                <div class="form-group col-lg-3">
                    <label for="code">Nº Cámara:</label>
                    <InputNumber id="code" @bind-Value="storage.Number" class="form-control" />
                    <ValidationMessage For="() => storage.Number" />
                </div>
                <div class="form-group col-lg-9">
                    <label for="name">Descripción:</label>
                    <InputText id="name" @bind-Value="storage.Description" class="form-control" />
                    <ValidationMessage For="() => storage.Description" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="surface">Superficie (m2):</label>
                    <InputNumber id="surface" @bind-Value="storage.Surface" class="form-control" />
                    <ValidationMessage For="() => storage.Surface" />
                </div>
                <div class="form-group col-lg-4">
                    <label for="capacity">Capacidad (kg):</label>
                    <InputNumber id="capacity" @bind-Value="storage.Capacity" class="form-control" />
                    <ValidationMessage For="() => storage.Capacity" />
                </div>
                <div class="form-group col-lg-4">
                    <label for="temperature">Temperatura (ºC):</label>
                    <InputNumber id="temperature" @bind-Value="storage.Temperature" class="form-control" />
                    <ValidationMessage For="() => storage.Temperature" />
                </div>
            </div>

            <hr />
            <div class="row mt-4 mb-4">
                <div class="col-lg-12">
                    <div class="float-right">
                        <button type="button" class="btn btn-outline-dark" @onclick="() => ds.Close(false)">Cancelar</button>
                        <button type="submit" class="btn btn-success"><span class="oi oi-check"></span> Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

        );
    }

    private async Task ShowRemoveStorageDialog(Storage storage)
    {
        await dialogService.OpenAsync("Eliminar cámara", ds =>
    @<div class="text-center" style="padding: 20px;">
        <p Style="margin-bottom: 10px;">¿Estás seguro de que quieres borrar esta cámara?</p>
        <div class="row">
            <div class="col-md-12 text-center">
                <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" />
                <RadzenButton Text="Eliminar" Click="() => RemoveStorage(storage)" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>
    );
    }

    private async Task RemoveStorage(Storage storage)
    {
        bool deleted = await Mediator.Send(new DeleteStorageCommand(storage.Id)).ConfigureAwait(false);
        dialogService.Close(true);
        NotificationMessage message;

        if (deleted)
        {
            storages.Remove(storage);
            await InvokeAsync(() => { StateHasChanged(); });

            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Cámara eliminada",
                    Detail = "La cámara se ha eliminado correctamente",
                    Duration = 4000
                };
        }
        else
        {
            message = new NotificationMessage()
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Se ha producido un error al borrar la cámara.",
                    Duration = 4000
                };
        }

        Notify(message);
    }

    private void OpenStorageDetails(int storageId)
    {
        navigationManager.NavigateTo($"/storages/details/{storageId}");
    }


    private void Notify(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

}