@page "/envases"

@using AgroContainerTracker.Domain
@using AgroContainerTracker.Core.Services
@inject IPalotService palotService

<h1>Gestión de envases</h1>

<a href="/envases/crear" class="btn btn-primary">Añadir Envase</a>

@if (packagings == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Envase</th>
                <th>Peso</th>
                <th>Material</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pack in packagings)
            {
            <tr>
                <td>@pack.Type.ToString()</td>
                <td>@pack.Code</td>
                <td>@pack.Weight</td>
                <td>@pack.Material.ToString()</td>
                <td>@pack.Total</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Packaging> packagings = new List<Packaging>();

    protected override async Task OnInitializedAsync()
    {
        //palots = await palotService.GetPalotsAsync();
    }
}
